/* common shared styles */
.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}

.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}

.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}

.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}

/* banner image styles */
.banner {
    position: relative;
}

#banner-image {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-image: linear-gradient(#070211, #07021100);
    border-radius: 16px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}

.gradient {
    width: 1320px;
    height: 600px;

    border-radius: 16px;
    display: block;
    margin-left: 233px;
    margin-right: 0;

    background-image: linear-gradient(#070211, #07021100);
    position: absolute;
    opacity: 0.5;
}

.banner-h3 {
    position: absolute;
    color: #FFFFFF;

    font-size: 32px;
    font-weight: 400;

    top: 170px;
    padding-left: 770px;
    padding-right: 300px;
}

.banner-h1 {
    position: absolute;
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    top: 200px;
    padding-left: 650px;
    padding-right: 300px;

}

/* 2nd portion of banner strats */

.off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 130px;
}

.offer-details {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.offer-product {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;

}

.offer-image {
    width: 600px;
    height: 400px;
    flex-shrink: 0;
    display: block;
    margin-left: 620px;
}

/* party poster */
.party {
    position: relative;

}

.party-image {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    display: block;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;


}

.party-gradient {
    width: 1320px;
    height: 600px;

    border-radius: 16px;
    display: block;
    margin-left: 233px;
    margin-right: 0;
    background-image: linear-gradient(to right, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    position: absolute;
    opacity: 0.5;
}

.party-icon {
    position: absolute;
    width: 320px;
    height: 465px;
    top: 65px;
    padding-left: 1040px;
    padding-right: 300px;
}

.party-welcome {
    position: absolute;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;

    top: 70px;
    padding-left: 400px;
    padding-right: 700px;

}

.party-details {
    position: absolute;
    color: rgba(255, 255, 255, 0.80);

    font-family: Inter;
    font-size: 18px;
    top: 290px;
    padding-left: 400px;
    padding-right: 700px;

}

.party-join {
    position: absolute;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    top: 380px;
    padding-left: 400px;
    padding-right: 700px;
}

/* add place-time */
.place-time-gradient {
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    display: block;
    margin-left: 233px;
    margin-right: 0;
    margin-top: 120px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.black {
    color: #070211;
}

.place {
    position: absolute;
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;

    margin-top: 120px;
    margin-left: 450px;
    margin-right: 700;
}

.date {
    position: absolute;
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;

    margin-top: 170px;
    margin-left: 400px;
    margin-right: 700;
}

.time {
    position: absolute;
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;

    margin-top: 220px;
    margin-left: 370px;
    margin-right: 700;
}

.join-btn {
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border-width: 0;

    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;

    margin-top: 350px;
    margin-left: 550px;
    margin-right: 500px;
}

/* coming soon */

.coming-soon-img {
    border: 15px solid red;
    border-radius: 50%;
    margin-top: 120px;
    display: block;
    margin-top: 120px;
    margin-left: 620px;
    padding: 40px;
}

.left-side {
    position: absolute;
    margin-top: 120px;
    margin-left: 80px;
    margin-right: 1000px;
}

.left-side-offer {
    color: #F00;
    margin-bottom: 13px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.left-side-comingsoon {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 13px;
}

.left-side-paragraph {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-right: 270px;

}

.right-side {
    position: absolute;
    margin-top: 70px;
    margin-left: 1200px;
    margin-right: 300px;
}

.year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.right-side-paragraph {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.right-side-img {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

/* adding sale details */

.sale {
    margin-top: ;
}

.sale-h3 {
    color: #070211;
    margin-top: 120px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.sale-h1 {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.sale-paragraph {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    padding: 20px 450px;
    
}